extends: relaxed

rules:
  document-start: disable
  line-length: disable
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  trailing-spaces: enable
  key-duplicates: enable
  comments:
    min-spaces-from-content: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
