[Unit]
Description=Prepare the temporary CybexOS live session
ConditionKernelCommandLine=rd.live.image
After=systemd-user-sessions.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/fedora-config-live-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
