[Unit]
Description=CybexOS graphical session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target quickshell.service hyprpolkitagent.service hypridle.service fedora-config-welcome.service
After=graphical-session-pre.target
Before=graphical-session.target
