PATH={{ primary_home }}/.local/bin{% if features.developer_tools | bool %}:{{ primary_home }}/.npm-global/bin:{{ primary_home }}/Android/Sdk/platform-tools:{{ primary_home }}/Android/Sdk/cmdline-tools/latest/bin{% endif %}:/usr/local/bin:/usr/bin
{% if features.developer_tools | bool %}
ANDROID_HOME={{ primary_home }}/Android/Sdk
ANDROID_SDK_ROOT={{ primary_home }}/Android/Sdk
{% endif %}
EDITOR=nvim
VISUAL=nvim
BROWSER={{ (features.proprietary_apps | bool) | ternary('brave-browser-stable', 'firefox') }}
TERMINAL=kitty
MOZ_ENABLE_WAYLAND=1
QT_QPA_PLATFORM=wayland
GTK_THEME=adw-gtk3-dark
{% if features.developer_tools | bool %}
RUSTC_WRAPPER=sccache
CARGO_INCREMENTAL=0
SCCACHE_DIR={{ primary_home }}/.cache/sccache
{% endif %}
