[Default Applications]
text/html={{ (features.proprietary_apps | bool) | ternary('brave-browser.desktop', 'firefox.desktop') }}
x-scheme-handler/http={{ (features.proprietary_apps | bool) | ternary('brave-browser.desktop', 'firefox.desktop') }}
x-scheme-handler/https={{ (features.proprietary_apps | bool) | ternary('brave-browser.desktop', 'firefox.desktop') }}
x-scheme-handler/about={{ (features.proprietary_apps | bool) | ternary('brave-browser.desktop', 'firefox.desktop') }}
x-scheme-handler/unknown={{ (features.proprietary_apps | bool) | ternary('brave-browser.desktop', 'firefox.desktop') }}
{% if features.connected_widgets | bool %}
x-scheme-handler/t3code=t3code-nightly.desktop
{% endif %}
image/png=imv.desktop
image/jpeg=imv.desktop
image/gif=imv.desktop
image/webp=imv.desktop
image/bmp=imv.desktop
image/tiff=imv.desktop
application/pdf=org.gnome.Evince.desktop
video/mp4=mpv.desktop
video/x-matroska=mpv.desktop
video/webm=mpv.desktop
video/x-msvideo=mpv.desktop
video/quicktime=mpv.desktop
text/plain={{ (features.developer_tools | bool) | ternary('nvim-kitty.desktop', 'org.gnome.TextEditor.desktop') }}
application/json={{ (features.developer_tools | bool) | ternary('nvim-kitty.desktop', 'org.gnome.TextEditor.desktop') }}
application/x-yaml={{ (features.developer_tools | bool) | ternary('nvim-kitty.desktop', 'org.gnome.TextEditor.desktop') }}
application/xml={{ (features.developer_tools | bool) | ternary('nvim-kitty.desktop', 'org.gnome.TextEditor.desktop') }}
text/markdown={{ (features.developer_tools | bool) | ternary('dev.codex.mdview.desktop', 'org.gnome.TextEditor.desktop') }}
text/x-markdown={{ (features.developer_tools | bool) | ternary('dev.codex.mdview.desktop', 'org.gnome.TextEditor.desktop') }}
text/x-python={{ (features.developer_tools | bool) | ternary('nvim-kitty.desktop', 'org.gnome.TextEditor.desktop') }}
text/x-shellscript={{ (features.developer_tools | bool) | ternary('nvim-kitty.desktop', 'org.gnome.TextEditor.desktop') }}
