[Unit]
Description=Singleton Hyprland session lock
PartOf=hyprland-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart={{ primary_home }}/.local/bin/fedora-config-runtime exec hyprlock
Restart=no
TimeoutStopSec=5
